:root{
    /*azul*/
    --azul-preto: #000814;
    --escuro: #023E8A;
    --marinho: #00B4D8;
    --bebe: #ADE8F4;
    --azul-branco:#FEFCFB;

    /*vermemlho*/
    --vermelho-preto: #3a0202;
    --vinho:#821415;
    --ruby:#E40B0B;
    --cereja:#F9626C;
    --vermelho-branco:#F3F3F3;

    /*verde*/
    --verde-preto:#020202;
    --floresta:#04471C;
    --lima:#6bd425;
    --jade:#68D89B;
    --verde-branco:#FEFEE3;
}

@font-face {
    font-family: 'Titulo';
    src: url(../font/gunplay/gunplay\ rg.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SubTitu';
    src: url(../font/brighterdays/Brighterdays.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'funny';
    src: url(../font/funny_samurai/FunnySamuraiDemoRegular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'street';
    src: url(../font/streetart/StreetartDemoRegular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'formal';
    src: url(../font/gibstone/GibstoneTrial-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
    list-style: none;
}

a{
    color: rgb(184, 184, 184) ;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vw;
    width: 100%;
    background-image: linear-gradient(to right, black,black, #810000);   
}

.menu{
    margin-top: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    gap: 2vw;
}

.menu li{
    list-style: none;
}

.menu li {
    display: block;
    font-size: 1.2vw;
    color: rgb(184, 184, 184);
    text-decoration: none;
    padding: 5px 10px;
    position: relative;
    font-family: 'Formal' , sans-serif;
}

.menu li a:hover{
    color: rgb(255, 255, 255);
}

/* .menu li a::before{
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 2px;
   background-color: #a70000;
   transform: scaleX(0);
   transform-origin: left;
   transition: all 0.8s;
} */

.menu li a::after{
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 2px;
   background-color: #a70000;
   transform: scaleX(0);
   transform-origin: left ;
   transition: all 0.5s;
}


.menu li a:hover::before, .menu li a:hover::after{
   transform: scaleX(1);
}

.logo{

    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo a{
    width: 100%;
    height: 100%;
}

.logo img{
    margin-left: 4vw;
    width: 45%;
}

.menu{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.menu li{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    padding: 5px;
}
.menu li i{
    color: #b8b8b8;
    transition: all ease-in-out .2s;
    transform: translateY(-4px);
}

.menu li:hover i{
    color: #a70000;
}

.menu li a{
    display: block;
    font-size: 1.2vw;
    color: #b8b8b8;
    text-decoration: none;
    padding: 1px 2px;
    position: relative;
    font-family: 'Formal' , sans-serif;
}

.menu li  ul{
    position:absolute;
    border: 2px solid #b8b8b8;

    top:25px;
    left:0;
    background-image: linear-gradient(to right, black,black, #810000);   
    display:none;
}

.menu li:hover ul, .menu li.over ul{
    display:block;
}

.menu li ul li{
    border: 1px solid #b8b8b8;
    display: block;
    width: 100%;
}

.user{
    color: white;
    gap: 20px;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user h1{
    font-size: 1.2vw;
    font-family: Formal;
}


.user img{
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
}

.carrossel{
    background-color: yellow;
    width: 100%;
    height: 10vw;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1vw 0;
}

.card{
    width: 43VW;
    height: 23vw;
    background-image: linear-gradient(to right, black,black, #810000);   
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2VW;
}

.galeria{
    height: 100%;

    width: 55%;

}

img{
    border-radius: 2vw;
}

.grande{
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grande img{
    height: 90%;
}

.pequena{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    width: 100%;
    height: 45%;
}

.pequena img{
    height: 80%;
}

.conteudo{
    background-color: #FFF;
    border-radius: 2VW;
    height: 90%;
    width: 40%;
}

.ag-format-container {
    width: 80%;
    margin: 0 auto;
  }

  .ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  
    padding: 0px 0;
  }
  .ag-courses_item {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
    margin: 0 15px 30px;
    width: 2vw;
    overflow: hidden;
  
    border-radius: 28px;
  }
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;
  
    overflow: hidden;
  
    position: relative;
  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .ag-courses-item_title {
    text-align: center;
    min-height: 87px;
    margin: 0 0 25px;
  
    overflow: hidden;
  
    font-weight: bold;
    font-size: 1.5vw;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;
    margin-top: 1vw;

    z-index: 2;
    position: relative;
  }

  .ag-courses-img{
    width: 100%;
    height: 20%;
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ag-courses-img img{
    z-index: 2;
    width: 90%;
  }
  .ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;
  
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
  }
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
  }
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
  }
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
  }
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
  }
  .ag-courses_item:nth-child(7n) .ag-courses-item_bg {
    background-color: brown;
  }
  
  
  
  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
  }
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
    }

    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }












.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vw;
    width: 100%;
    background-image: linear-gradient(to bottom, black,rgb(49, 0, 0));   
}

.footer p{
    color: #ccc;
    max-width: 25em;
    font-size: 0.9em;
    line-height: 23px;
}

.footer a{
    color: #fff;
    text-decoration: none;
}


.footer .container2{
    width: 100%;
    display: flex;
    margin: 0;
    padding: 2em;
    justify-content: space-between;
    gap: 2em;
}

.brand{
    display: block;
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 1em;
}

.footer .menu2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 14px;
}

.footer .menu2 li{
    text-align: center;
    margin: 0 0.7em 0.7em 0;
    display: inline-block;
}

.footer .menu2 a{
    transition: .3s;
    font-weight: 600;
}

.services-icons li,
.media-icons li{
    display: inline-block;
    margin: 0.5em 0.5em 0.5em 0;
}

.media-icons a{
    font-size: 1.1em;
    width: 2em;
    height: 2em;
    border: 1px #fff solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.media-icons a:hover{
    background: #fff;
    color: #111;
}

.services-icons a{
    font-size: 1.5em;
}

.service-iconss a:hover{
    color: #dbdbdb;
}

.input-wrap{
    margin: 1em 0;
    display: flex;
    border: none;
    background: #20232a;
    color: #ccc;
}

.input-wrap input:focus{
    outline: none;
}

.input-wrap button{
    padding: .8em;
    background-color: var(--ruby);
    border: none;
    outline: none;
    color: #fff;
    transition: .5s;
}

.input-wrap button:hover{
    background: var(--cereja);
}

.copy{
    width: 100%;
    text-align: center;
    margin-top: 1vw;
    transition: .5s;
}

.copy:hover{
    color: var(--cereja);
    user-select: none;
}

.info{
    text-align: center;
}

.user{
    color: white;
    gap: 20px;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user h1{
    font-size: 1.2vw;
    font-family: Formal;
}


.user img{
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
}