:root{
    /*azul*/
    --azul-preto: #000814;
    --escuro: #023E8A;
    --marinho: #00B4D8;
    --bebe: #ADE8F4;
    --azul-branco:#FEFCFB;

    /*vermemlho*/
    --vermelho-preto: #3a0202;
    --vinho:#821415;
    --ruby:#E40B0B;
    --cereja:#F9626C;
    --vermelho-branco:#F3F3F3;

    /*verde*/
    --verde-preto:#020202;
    --floresta:#04471C;
    --lima:#6bd425;
    --jade:#68D89B;
    --verde-branco:#FEFEE3;
}

@font-face {
    font-family: 'Titulo';
    src: url(../font/gunplay/gunplay\ rg.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SubTitu';
    src: url(../font/brighterdays/Brighterdays.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'funny';
    src: url(../font/funny_samurai/FunnySamuraiDemoRegular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'street';
    src: url(../font/streetart/StreetartDemoRegular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'formal';
    src: url(../font/gibstone/GibstoneTrial-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
    list-style: none;
}

a{
    color: rgb(184, 184, 184) ;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vw;
    width: 100%;
    background-image: linear-gradient(to right, black,black, #810000);   
}

.menu{
    margin-top: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    gap: 2vw;
}

.menu li{
    list-style: none;
}

.menu li {
    display: block;
    font-size: 1.2vw;
    color: rgb(184, 184, 184);
    text-decoration: none;
    padding: 5px 10px;
    position: relative;
    font-family: 'Formal' , sans-serif;
}

.menu li a:hover{
    color: rgb(255, 255, 255);
}

/* .menu li a::before{
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 2px;
   background-color: #a70000;
   transform: scaleX(0);
   transform-origin: left;
   transition: all 0.8s;
} */

.menu li a::after{
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 2px;
   background-color: #a70000;
   transform: scaleX(0);
   transform-origin: left ;
   transition: all 0.5s;
}


.menu li a:hover::before, .menu li a:hover::after{
   transform: scaleX(1);
}

.logo{

    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo a{
    width: 100%;
    height: 100%;
}

.logo img{
    margin-left: 4vw;
    width: 45%;
}

.menu{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.menu li{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    padding: 5px;
}
.menu li i{
    color: #b8b8b8;
    transition: all ease-in-out .2s;
    transform: translateY(-4px);
}

.menu li:hover i{
    color: #a70000;
}

.menu li a{
    display: block;
    font-size: 1.2vw;
    color: #b8b8b8;
    text-decoration: none;
    padding: 1px 2px;
    position: relative;
    font-family: 'Formal' , sans-serif;
}

.menu li  ul{
    position:absolute;
    border: 2px solid #b8b8b8;

    top:25px;
    left:0;
    background-image: linear-gradient(to right, black,black, #810000);   
    display:none;
}

.menu li:hover ul, .menu li.over ul{
    display:block;
}

.menu li ul li{
    border: 1px solid #b8b8b8;
    display: block;
    width: 100%;
}

.user{
    color: white;
    gap: 20px;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user h1{
    font-size: 1.2vw;
    font-family: Formal;
}


.user img{
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
}

.carrossel{
    background-color: yellow;
    width: 100%;
    height: 10vw;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 2vw;
}
.cardes{
    display: flex;
    gap: 1vw;
    flex-wrap: wrap;
}

.cards{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card {
    --bg-card: #27272a;
    --primary: #6d28d9;
    --primary-800: #4c1d95;
    --primary-shadow: #2e1065;
    --light: #d9d9d9;
    --zinc-800: #18181b;
    --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);
  
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
    width: 14rem;
    background-color: var(--light);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 1rem;
  }
  
  .imageCard {
    overflow: hidden;
    cursor: pointer;
  
    position: relative;
    z-index: 5;
  
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
  
    border-radius: 0.5rem;
  }

  .imagecard img{
      width:100%;
      border-radius: 2vw;
      
  }

  .men{

      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;

  }

  .men a{
      cursor: pointer;
  }


  
  .catego {
    overflow: clip;
    width: 100%;
    font-weight: 600;
    color: var(--light);
    text-transform: capitalize;
    text-wrap: nowrap;
    text-overflow: ellipsis;
  }

.catego h3{
    color: #000814;
    font-family: Titulo;
    font-size: 1vw;
}

.cads{
    color: var(--light);
    color: var(--vermelho-preto);
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 6vw;
    font-size: .6vw;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    gap: 2px;
}

.cads h3{
    font-size: .5vw;
    align-items: center;
    display: flex;
}











.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vw;
    width: 100%;
    background-image: linear-gradient(to bottom, black,rgb(49, 0, 0));   
}

.footer p{
    color: #ccc;
    max-width: 25em;
    font-size: 0.9em;
    line-height: 23px;
}

.footer a{
    color: #fff;
    text-decoration: none;
}


.footer .container2{
    width: 100%;
    display: flex;
    margin: 0;
    padding: 2em;
    justify-content: space-between;
    gap: 2em;
}

.brand{
    display: block;
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 1em;
}

.footer .menu2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 14px;
}

.footer .menu2 li{
    text-align: center;
    margin: 0 0.7em 0.7em 0;
    display: inline-block;
}

.footer .menu2 a{
    transition: .3s;
    font-weight: 600;
}

.services-icons li,
.media-icons li{
    display: inline-block;
    margin: 0.5em 0.5em 0.5em 0;
}

.media-icons a{
    font-size: 1.1em;
    width: 2em;
    height: 2em;
    border: 1px #fff solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.media-icons a:hover{
    background: #fff;
    color: #111;
}

.services-icons a{
    font-size: 1.5em;
}

.service-iconss a:hover{
    color: #dbdbdb;
}

.input-wrap{
    margin: 1em 0;
    display: flex;
    border: none;
    background: #20232a;
    color: #ccc;
}

.input-wrap input:focus{
    outline: none;
}

.input-wrap button{
    padding: .8em;
    background-color: var(--ruby);
    border: none;
    outline: none;
    color: #fff;
    transition: .5s;
}

.input-wrap button:hover{
    background: var(--cereja);
}

.copy{
    width: 100%;
    text-align: center;
    margin-top: 1vw;
    transition: .5s;
}

.copy:hover{
    color: var(--cereja);
    user-select: none;
}

.info{
    text-align: center;
}

.user{
    color: white;
    gap: 20px;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user h1{
    font-size: 1.2vw;
    font-family: Formal;
}


.user img{
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
}