:root{
    /*azul*/
    --azul-preto: #000814;
    --escuro: #023E8A;
    --marinho: #00B4D8;
    --bebe: #ADE8F4;
    --azul-branco:#FEFCFB;

    /*vermemlho*/
    --vermelho-preto: #3a0202;
    --vinho:#821415;
    --ruby:#E40B0B;
    --cereja:#F9626C;
    --vermelho-branco:#F3F3F3;

    /*verde*/
    --verde-preto:#020202;
    --floresta:#04471C;
    --lima:#6bd425;
    --jade:#68D89B;
    --verde-branco:#FEFEE3;

    --txt--color: #fff;
}

@font-face {
    font-family: 'Titulo';
    src: url(../font/gunplay/gunplay\ rg.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SubTitu';
    src: url(../font/brighterdays/Brighterdays.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'funny';
    src: url(../font/funny_samurai/FunnySamuraiDemoRegular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'street';
    src: url(../font/streetart/StreetartDemoRegular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'formal';
    src: url(../font/gibstone/GibstoneTrial-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
    list-style: none;
}

/*a{
    color: rgb(255, 0, 0) ;
}*/

.corpo{
    background-color: #e9ecef;

}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vw;
    width: 100%;
    background-image: linear-gradient(to right, black,black, #810000);   
}

.menu{
    margin-top: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    gap: 2vw;
}

.menu li{
    list-style: none;
}

.menu li {
    display: block;
    font-size: 1.2vw;
    color: rgb(184, 184, 184);
    text-decoration: none;
    padding: 5px 10px;
    position: relative;
    font-family: 'Formal' , sans-serif;
}

.menu li a:hover{
    color: rgb(255, 255, 255);
}

/* .menu li a::before{
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 2px;
   background-color: #a70000;
   transform: scaleX(0);
   transform-origin: left;
   transition: all 0.8s;
} */

.menu li a::after{
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 2px;
   background-color: #a70000;
   transform: scaleX(0);
   transform-origin: left ;
   transition: all 0.5s;
}


.menu li a:hover::before, .menu li a:hover::after{
   transform: scaleX(1);
}

.logo{
    
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo a{
    width: 100%;
    height: 100%;
}

.logo img{
    margin-left: 4vw;
    width: 45%;
}

.menu{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.menu li{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    padding: 5px;
}
.menu li i{
    color: #b8b8b8;
    transition: all ease-in-out .2s;
    transform: translateY(-4px);
}

.menu li:hover i{
    color: #a70000;
}

.menu li a{
    display: block;
    font-size: 1.2vw;
    color: #b8b8b8;
    text-decoration: none;
    padding: 1px 2px;
    position: relative;
    font-family: 'Formal' , sans-serif;
}

.menu li  ul{
    position:absolute;
    border: 2px solid #b8b8b8;

    top:25px;
    left:0;
    background-image: linear-gradient(to right, black,black, #810000);   
    display:none;
}

.menu li:hover ul, .menu li.over ul{
    display:block;
}

.menu li ul li{
    border: 1px solid #b8b8b8;
    display: block;
    width: 100%;
}

.user{
    color: white;
    gap: 20px;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user h1{
    font-size: 1.2vw;
    font-family: Formal;
}


.user img{
    width: 2.7vw;
    height: 2.7vw;
    border-radius: 50%;
    border: blue solid 2px !important;
} 

.carrossel{
    background-color: yellow;
    width: 100%;
    height: 10vw;
}

.corpo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resto{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #e9ecef;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.atras{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, black,black, #810000);
    width: 100%;
    height: 30vw;
}

.info1{
    color: #000;
    margin-top: 2vw;
    display: flex;
    width: 85%;
    height: 25vw;
    border-radius: 2vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;
}

.foto{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.informacoes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}

.fotoUsuario{
    width: 60%;
    height: 60%;
    border-radius: 50%;
}

.fotoUsuario img{
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    border-radius: 50%;
}

.coluna1{
    width: 50%;
    gap: 12px;
    height: 100%;
    display: flex;
    justify-content: right;
    flex-direction: column;
}

.coluna2{
    width: 50%;
    height: 100%;
    gap: 12px;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.conteudoInformacoes{
    padding: 2vw;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info1 .editar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.btnedit a{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
    color: snow;
}

.btnedit{
    background-color: #000;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: linear-gradient(to left, #d40000, #a3001c, #6e0620, #390e19, #000000);;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    text-decoration: none;
    transition: all 250ms;
    height: 5vw;
    text-align: center;
    width: 10vw;
    font-size: 16px;
    touch-action: manipulation;
}

.btnedit:hover {
    box-shadow: #680000 0 -25px 18px -14px inset,#610010 0 1px 2px,#33000d 0 2px 4px,#000000 0 4px 8px;
    transform: scale(1.05) rotate(-1deg);
  }

.nomeInfo{
    margin-top: -2vw;
    width: 100%;
    display: flex;
    color: snow;
    margin-top: 4vw;
    background-color: #810000;
    height: 10vh;
    justify-content: center;
    align-items: center;
}


label[for="usuario"]{
width: 100%;
font-family: formal;
/* color: var(--vermelho-branco); */
color: #000;
font-size: 1.1vw;
}
label[for="email"]{
width: 100%;
font-family: formal;
/* color: var(--vermelho-branco); */
color: #000;
font-size: 1.1vw;
}
label[for="senha"]{
width: 100%;
font-family: formal;
/* color: var(--vermelho-branco); */
color: #000;
font-size: 1.1vw;
}
label[for="senha2"]{
width: 100%;
font-family: formal;
/* color: var(--vermelho-branco); */
color: #000;
font-size: 1.1vw;
}
label[for="data"]{
width: 100%;
font-family: formal;
/* color: var(--vermelho-branco); */
color: #000;
font-size: 1.1vw;
}
label[for="telefone"]{
width: 100%;
font-family: formal;
/* color: var(--vermelho-branco); */
color: #000;
font-size: 1.1vw;
}
label[for="cep"]{
width: 100%;
font-family: formal;
/* color: var(--vermelho-branco); */
color: #000;
font-size: 1.1vw;
}

.conteudoInformacoes input{
    padding-left: 10px;
    height: 1.5vw;
    width: 15vw;
    font-size: 1.1vw;
    color: #000;
    background-color: transparent;
    border-bottom: 2px solid var(--ruby) !important ;
}

.info2{
    min-height: 45vw;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap;
    gap: 1rem;
}

.cards{
    border-radius: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 400px;
    height: 600px;
    background-color: #fff;
    margin-bottom: 2vw;
}

.title{
    background-image: linear-gradient(to right, black,black, #810000);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
    color: white;
    font-family: Formal;
    font-size: 20px;
    border-radius: 2vw;
}


.conteudo{
    display: flex;
    width: 100%;
    height: 85%;
}



.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vw;
    width: 100%;
    background-image: linear-gradient(to bottom, black,rgb(49, 0, 0));   
}

.footer p{
    color: #ccc;
    max-width: 25em;
    font-size: 0.9em;
    line-height: 23px;
}

.footer a{
    color: #fff;
    text-decoration: none;
}


.footer .container2{
    width: 100%;
    display: flex;
    margin: 0;
    padding: 2em;
    justify-content: space-between;
    gap: 2em;
}

.brand{
    display: block;
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 1em;
}

.footer .menu2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 14px;
}

.footer .menu2 li{
    text-align: center;
    margin: 0 0.7em 0.7em 0;
    display: inline-block;
}

.footer .menu2 a{
    transition: .3s;
    font-weight: 600;
}

.services-icons li,
.media-icons li{
    display: inline-block;
    margin: 0.5em 0.5em 0.5em 0;
}

.media-icons a{
    font-size: 1.1em;
    width: 2em;
    height: 2em;
    border: 1px #fff solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.media-icons a:hover{
    background: #fff;
    color: #111;
}

.services-icons a{
    font-size: 1.5em;
}

.service-iconss a:hover{
    color: #dbdbdb;
}

.input-wrap{
    margin: 1em 0;
    display: flex;
    border: none;
    background: #20232a;
    color: #ccc;
}

.input-wrap input:focus{
    outline: none;
}

.input-wrap button{
    padding: .8em;
    background-color: var(--ruby);
    border: none;
    outline: none;
    color: #fff;
    transition: .5s;
}

.input-wrap button:hover{
    background: var(--cereja);
}

.copy{
    width: 100%;
    text-align: center;
    margin-top: 1vw;
    transition: .5s;
}

.copy:hover{
    color: var(--cereja);
    user-select: none;
}

.info{
    text-align: center;
}

.user{
    color: white;
    gap: 20px;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user h1{
    font-size: 1.2vw;
    font-family: Formal;
}


.user img{
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
}
